@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;

}

a, a:hover {
    text-decoration: none;
    color: unset;
}

body {
    background-color: #e1e1e1;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    font-weight: bold;
}


