<div class="teams-container">
    <h2>Equipes</h2>
    <div class="teams-card">
        <div class="teams-content-container" >
            <table class="dsvendas-teams-table table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Equipe
                        </th>
                        <th>
                            ID Gestor
                        </th>
                        <th>
                            Nome Gestor
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="team in teams.content">
                   <tr>
                        <td>
                            {{team.id}}
                        </td>
                        <td>
                            {{team.name}}
                        </td>
                        <td>
                            {{team.managerId}}
                        </td>
                        <td>
                            {{team.managerName}}
                        </td>
                        <td>
                            <button class="btn btn-warning" ng-click="SelectTeam(team)"  data-toogle="tooltip"
                            title="Clique para Selecionar Equipe">Selecionar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="alert('Tem certeza que deseja apagar')" ng-click="DeleteTeam(team)">Apagar</button>
                        </td>
                   </tr>     
                </tbody>
            </table>
            <tr>
                <td><input type="text" required ng-model="team.id" placeholder="Cod da equipe"></td>
                <td><input type="text" required ng-model="team.name" placeholder="Nome da equipe"></td>
                <td><input type="text" required ng-model="team.managerId" placeholder="Id Lider Equipe"></td>
                <td>
                    <button href="#" class="btn btn-primary" ng-click="InsertTeam(team)"
                        ng-disable="!team.id || !team.name || !team.managerId" data-toogle="tooltip"
                        title="Clique para Inserir Equipe">Novo</button>
                </td>
                <td>
                    <a href="#" class="btn btn-success" ng-click="UpdateTeam(team)"
                        ng-disable="!team.id || !team.name || !team.sellerId" data-toogle="tooltip"
                        title="Clique para Editar Equipe">Alterar</a>
                </td>
            </tr>
        </div>
    </div>


</div>